<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 text-center">My Blog</h1>
            <p class="lead text-center">Welcome To My Blog Site</p>
            <span>- İLHAN CÜVELEK -</span>
            
        </div>
    </div>
</header>